/* font */
body,
input,
select,
button{
  font-family: 'DIN', 'Microsoft YaHei',tahoma,arial,'Hiragino Sans GB','\\5b8b\4f53',sans-serif;
  color: #2e3032;
}
.cls:before,
.cls:after{
  content:'';
  display: table;
}
.cls:after{
  clear: both;
}
.lf{
  float: left;
}
.rt{
  float: right;
}
/* /font */
/* ========== navbar ========== */
.navbar ~ .pages .page-content{
  padding-top: 120px;
}
.navbar-inner{
  padding-right: 40px;
  padding-left: 40px;
}
.navbar .logo{
  margin-right: 40px;
}
.navbar .right a + a{
  margin-left: 60px;
}
.navbar a.link{
  padding: 0;
}
.navbar .link .icon{
  line-height: 1;
  font-size: 50px;
}
.navbar .link span{
  font-size: 24px;
}
.navbar .link.eps-back .icon{
  font-size: 70px;
}
.navbar .link .span{
  margin-left: -20px;
}
.navbar .link.eps-back i + span{
  margin-left: -10px;
}
/* navbar-brand */
.navbar.navbar-brand{
  background: #008ce3;
}
.navbar.navbar-brand .link{
  color: #fff;
}
/* ========== /navbar ========== */
/* ========== page ========== */
.page{
  background: #fff;
}
/* ========== /page ========== */
/* ========== form ========== */
::-webkit-input-placeholder { /* WebKit browsers */
  color:#aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#aaa;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#aaa;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#aaa;
}
.eps-form{
  display: block;
}
.eps-form .eps-form-group{
  width: 700px;
  display: block;
  margin-bottom: 50px;
  padding: 17px 20px;
  background: #edf2f5;
  border-radius: 8px;
}
.eps-form .eps-form-group .eps-form-icon{
  position: absolute;
  width: 66px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  color: #00abfb;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.eps-form .eps-form-group.hasWraming .eps-form-icon{
  color: #ffba01;
}
.eps-form .eps-form-group .eps-form-icon .icon{
  font-size: 40px;
}
.eps-form .eps-form-control{
  background: transparent;
  display: block;
  margin-left: 66px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 8px;
  border: none;
  font-size: 42px;
  line-height: 1;
  width: 100%;
}
/* ========== /form ========== */

/* ========== /btn ========== */
.eps-btn{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 42px;
  line-height: 1;
  padding: 34px 116px;
  border-radius: 55px;
  background: #00abfb;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  transition: all .15s;
  box-shadow: 0 20px 50px rgba(0, 171, 251, .6);
  border: none;
  outline: 0;
}

.eps-btn:active{
  transform: scale(.9);
  box-shadow: none;
}

/*eps-lg-btn*/
.eps-btn.eps-btn-lg{
  padding:35px 150px;
  fontsize:42px;
  border-radius:75px;
}
.eps-btn.eps-btn-lg:active {
  transform: scale(.95);
  box-shadow: none;
}
/*eps-lg-btn*/


/* eps-sm-btn */
.eps-btn.eps-btn-sm{
  font-size: 34px;
  padding: 25px 100px;
  border-radius: 50px;
}
.eps-btn.eps-btn-sm:active {
  transform: scale(.95);
  box-shadow: none;
}
/* eps-sm-btn */

/* eps-xs-btn */
.eps-btn.eps-btn-xs{
  font-size: 34px;
  padding: 10px 45px;
  border-radius: 10px;
  background: transparent;
  color: #00abfb;
  border: 2px solid #00abfb;
  box-shadow: none;
}
.eps-btn.eps-btn-xs:active {
  background: #00abfb;
  color: #fff;
}
/* eps-xs-btn */

.eps-btn[disabled],
.eps-btn[disabled]:hover,
.eps-btn[disabled]:focus,
.eps-btn[disabled]:active,
.eps-btn.disabled,
.eps-btn.disabled:hover,
.eps-btn.disabled:focus,
.eps-btn.disabled:active{
  background: #c9caca;
  box-shadow: none;
  border: 0;
  pointer-event:none;
  color: #fff;
}
/* eps-xs-btn */

/*eps-btn-test*/
.eps-btn.eps-btn-test{
  padding:30px;
  fontsize:38px;
  border-radius:7px;
  box-shadow: none;
  border: 2px solid #00abfb;
}
.eps-btn.eps-btn-test:active {
  box-sizing: border-box;
  background: #fff;
  color: #00abfb;
}
/*eps-lg-btn*/
/* ========== /btn ========== */


/* ========== /cards ========== */
.eps-card{
  display: block;
  margin: 0 auto;
  width: 760px;
  font-size:34px;
  overflow: hidden;
  border-radius:15px;
  box-shadow: 0px 20px 32.3px 1.7px rgba(0, 140, 227, 0.24);
}
.eps-card .eps-card-header{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 130px;
  background: #008ce3;
}
.eps-card .eps-card-header .eps-card-header-right{
  font-size: 34px;
}
.eps-card .eps-card-content{
  display: block;
  padding: 40px 20px;
  box-sizing: border-box;
  min-height: 340px;
  background: #fff;
}
.eps-card .eps-card-content .eps-card-group{
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1.5;
}
.eps-card .eps-card-content .icon{
  font-size: 100px;
  color: #00ce00;
}
.eps-card .eps-card-content .eps-card-group:before,
.eps-card .eps-card-content .eps-card-group:after{
  content: '';
  display: table;
}
.eps-card .eps-card-content .eps-card-group:after{
  clear: both;
}
.eps-card .eps-card-content .eps-card-group:before,
.eps-card .eps-card-content .eps-card-group:after{
  content: '';
  display: table;
}
.eps-card .eps-card-content .eps-card-group:after{
  clear: both;
}
.eps-card .eps-card-content .eps-card-group:last-child{
  margin-bottom: 0;
}
.eps-card .eps-card-content .eps-card-group .eps-card-group-title{
  word-wrap: break-word;
  width: 150px;
  float: left;
  font-weight: 100;
  color: #aaa;
}
.eps-card .eps-card-content .eps-card-group .eps-card-group-content{
  word-wrap: break-word;
  margin-left: 150px;
  padding-left: 20px;
  word-wrap:break-word;
  color: #2e3032;
  position: relative;
}
.eps-card .eps-card-content .eps-card-group .green-font{
  font-size: 38px;
  color: #00ce00;
}
.eps-card .eps-card-content .eps-card-group .blue-font{
  font-size: 38px;
  color: #00abfb;
}
.eps-card .eps-card-content .eps-card-group .black-font{
  font-size: 38px;
  color: #2e3032;
}
.eps-card .eps-card-content .eps-card-group .eps-card-btn{
  position: absolute;
  right: 0;
  top: -6.5px;
}
/* ========== /cards ========== */

/* ========== /steps ========== */
.steps{
  display: block;
}
.steps .steps-item{
  display: block;
  position: relative;
  padding-bottom: 50px;
}
.steps .steps-item .steps-tail{
  position: absolute;
  width: 4px;
  top: 60px;
  bottom: 0;
  background: #c9caca;
  left: 28px;
}
.steps .steps-item:last-child .steps-tail{
  display: none;
}
.steps .steps-item .steps-step{
  overflow: hidden;
}
.steps .steps-item .steps-step .steps-head{
  float: left;
}
.steps .steps-item .steps-step .steps-head .steps-head-inner{
  width: 60px;
  height: 60px;
  display: flex;
  background: #c9caca;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 50%;
}
.steps .steps-item .steps-step .steps-head .steps-head-inner .icon{
  font-size: 36px;
  color: #fff;
}
.steps .steps-item.active .steps-step .steps-head .steps-head-inner{
  background: #00abfb;
}
.steps .steps-item .steps-step .steps-main{
  margin-left: 80px;
  padding-top: 11px;
}
.steps .steps-item .steps-step .steps-main .steps-main-title{
  color: #c9caca;
  font-size: 26px;
}
.steps .steps-item.active .steps-step .steps-main .steps-main-title{
  color: #00abfb;
}
.steps .steps-item.active .steps-step .steps-main .green-font{
  color: #00ce00;
  font-size: 50px;
}
/* ========== /steps ========== */
/* ========== sidebar ========== */
.sidebar{
  position: absolute;
  top: 120px;
  left: 0;
  bottom: 0;
  width: 340px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  padding: 20px 40px;
  z-index: 500;
  transition: all .3s;
  background: #fff;
  transform: translateX(-340px);
}
.sidebar.active{
  transform: translateX(0); 
}
.sidebar .sidebar-title{
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 28px;
  color: #444;
}
.page-content{
  transition: all .3s;
}
/* ========== /sidebar ========== */

/* ========== font ========== */
/* 首页欢迎文案 */
h1{
  font-size: 48px;
  font-weight: bold;
}
/* 开卡结果提示及首页项目名 */
h2{
  font-size: 38px;
  font-weight: normal;
}
/* E卡用字 */
h3{
  font-size: 34px;
  font-weight: 100;
}
/* 项目选项卡名称 */
h4{
  font-size: 34px;
  font-weight: normal;
}
/* E卡信息及首页公告内容 */
h5{
  font-size: 30px;
  font-weight: normal;
}
/* E卡修改及流程页左侧大进程用字 */
h6{
  font-size: 26px; 
  font-weight: normal;
}
.color-primary{
  color: #009de6;
}
.no-margin{
  margin: 0;
}
/* ========== /font ========== */

/* ========== eps-block ========== */
.eps-block{
  padding: 50px 70px;
}
/* ==========  /eps-block ========== */

/* ========== page ========== */
/* index */
.page[data-page=index] .guide{
  margin: 50px 0;
}
.page[data-page=index] .guide .guide-inner{
  white-space: nowrap;
  text-align: center;
}
.page[data-page=index] .guide .guide-item{
  display: inline-block;
  width: 360px;
  height: 410px;
  border-radius: 10px;
  box-shadow: 0px 6px 22px rgba(0, 140, 227, .4);
  margin: 0 25px;
}
.page[data-page=index] .guide-in{
  text-align: center;
}
.page[data-page=index] .guide-in .eps-btn{
  margin: 0 20px;
}
.page[data-page=index] .toolbar{
  background: #008ce3;
  color: #fff;
  font-size: 30px;
}
.page[data-page=index] .toolbar .toolbar-inner{
  padding-left: 40px;
  padding-right: 40px;
}
.page[data-page=index] .toolbar .icon{
  display: inline-block;
  vertical-align: middle;
  font-size: 38px;
  line-height: 1;
}
.page[data-page=index] .toolbar .name,
.page[data-page=index] .toolbar .notice,
.page[data-page=index] .toolbar .tel{
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page[data-page=index] .toolbar .name span{
  font-size: 38px;
  vertical-align: -4px;
}
.page[data-page=index] .toolbar .notice span{
  font-size: 30px;
  vertical-align: -2px;
}
.page[data-page=index] .toolbar .tel span{
  font-size: 54px;
  font-weight: 'Medium';
  font-family: 'DIN';
  vertical-align: -7px;
}
/* /index */
/*identify-step1*/
.eps-guide{
  width: 600px;
  height: 600px;
  border-radius: 7px;
  background: #d4efff;
}
.test-control{
  position: relative;
}
.phoneNum .eps-btn-test{
  position: absolute;
  right: -300px;
  top: 0;
}
/*identify-step1*/
/* ========== /page ========== */